/* Font Type Face Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  line-height: 1.15;
}

ul,
ol {
  list-style-type: none;
}

a {
  font-family: var(--FF);
  text-decoration: none;
}

/* || Variables */
:root {
  /* Fonts */
  --FF: "Poppins", sans-serif;
  --FF-HEADINGS: "Poppins", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FW-TEXT: 500;
  --FW-HEADINGS: 700;

  /* Colors */
  --BGCOLOR-DARK: #212529;
  --BGCOLOR-LITE: hsl(37, 100%, 100%);
  --FONT-COLOR: #fff;
  --LINK-COLOR: hsla(0, 0%, 90%, 0.7);
}

/* || General */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BGCOLOR-DARK);
  min-height: 100vh;
  padding: 0 30px;
  overflow-x: hidden;
  color: #fff;
}

p {
  color: #fff;
  font-size: 16px;
}

.section__title {
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.section__title span {
  color: #ffb742;
}

.header {
  background-color: var(--HEADER-BGCOLOR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 60px;
  padding: 10px 0;
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky;
  gap: 10rem;
}

.logo {
  color: var(--FONT-COLOR);
  font-size: 1.5rem;
  font-weight: var(--FW-HEADINGS);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.navbar__links {
  color: var(--LINK-COLOR);
  font-size: 1rem;
  font-weight: var(--FW-TEXT);
  transition: all 0.5s ease;
  position: relative;
}

.navbar-home {
  color: #ffb742;
}

.navbar__links::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ffb742;
  transition: all 0.3s ease;
}

.navbar__links:hover::after,
.navbar__links:focus::after {
  width: 70%;
}

/* Mobile Menu Toggle */
.navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--LINK-COLOR);
  transition: transform 0.3s ease, visibility 0.3s ease;
}

/********************** HERO SECTION ***********************/
#hero {
  height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 3rem;
  scroll-margin-top: 5rem;
}

.hero-img {
  width: 11rem;
  border: 3px solid #ffb742;
  border-radius: 50%;
}

.hero h4 {
  font-size: 1.7rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 0.5rem;
}

.hero h4 span {
  color: #ffb742;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 8px;
}

.hero-quote {
  font-size: 12px;
  font-style: italic;
}

.hero-quote::before {
  content: "“";
  color: #ffb742;
  font-size: 1rem;
  font-weight: 700;
}

.hero-quote::after {
  content: "”";
  color: #ffb742;
  font-size: 1rem;
  font-weight: 700;
}

.hero-btn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.primary-btn,
.secondary-btn {
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  border: 0.1rem solid #ffd54a;
  cursor: pointer;
}

.primary-btn {
  background-color: transparent;
  color: #ffb742;
  border: 0.1rem solid #ffb742;
}

.primary-btn:hover {
  transition: all 0.5s ease;
  background-color: #ffb742;
  color: #212529;
}

.secondary-btn {
  color: #212529;
  background-color: #ffb742;
}

.secondary-btn:hover {
  background-color: #212529;
  color: #ffb742;
  transition: all 0.5s ease;
}

/********************** ABOUT SECTION ***********************/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
  max-width: 1300px;
  margin: 0 auto;
}

.about__section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.1rem solid transparent;
  border-bottom: 0.1rem solid transparent;
  border-left: 0.1rem solid #ffb742;
  border-right: 0.1rem solid #ffb742;
  animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  margin: 2rem 0;
  max-width: 800px;
}

.about-content p:nth-child(2)::before {
  content: "<p>";
  color: hsl(37, 100%, 70%);
  font-size: 1.3rem;
}

.about-content p:nth-child(2)::after {
  content: "</p>";
  color: hsl(37, 100%, 70%);
  font-size: 1.3rem;
}

.about__cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.about-cards {
  border: 1px solid #ffb742;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.5px;
}

.about-cards:hover {
  background-color: hsl(37, 100%, 80%);
  color: #000;
  cursor: default;
}

.about-cards:hover p {
  color: #000;
}

/********************** SKILLS SECTION ***********************/
.skills__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skills__detail-container {
  border: 1px solid #ffb742;
  border-radius: 10px;
  width: calc((800px - 2rem) / 2);
  padding: 1.5rem;
  height: 50vh;
}
.skills__detail-container:hover {
  outline: 2px solid #ffb742;
  transition: all o.6s ease;
}

.skills__detail-container h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.skills__content-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

/********************** CONTACT SECTION ***********************/

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 55vh;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 800px;
  gap: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  margin: 5px 0;
  border: 1px solid #ffb742;
  border-radius: 15px;
  background-color: var(--BGCOLOR-DARK);
  color: var(--FONT-COLOR);
  outline: none;
}

form textarea {
  height: 260px;
  resize: none;
}

form button {
  width: 20%;
}

/********************** FOOTER SECTION ***********************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 5rem;
}

.footer h3 {
  font-size: 1.5rem;
}

.footer h3 span {
  color: #ffb742;
}

.social__links-container {
  display: flex;
  gap: 1.5rem;
}

.social__links-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__links-container a i {
  font-size: 1.5rem;
  color: #fff;
}

.social__links-container a i:hover {
  color: #ffb742;
  transform: scale(1.2);
  transition: all 0.6s ease;
}

.footer p:last-child {
  margin-bottom: 1rem;
}
