/* Font Type Face Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  line-height: 1.15;
}

ul,
ol {
  list-style-type: none;
}

a {
  font-family: var(--FF);
  text-decoration: none;
}

/* || Variables */
:root {
  /* Fonts */
  --FF: "Poppins", sans-serif;
  --FF-HEADINGS: "Poppins", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FW-TEXT: 500;
  --FW-HEADINGS: 700;

  /* Colors */
  --BGCOLOR-DARK: #212529;
  --BGCOLOR-LITE: hsl(37, 100%, 100%);
  --BGCOLOR-DARK2: #000;
  --FONT-COLOR: #fff;
  --HEADER-BGCOLOR: #212529;
  --HEADER-BGCOLOR2: #000;
  --HEADER-COLOR: #fff;
  --HERO-BGCOLOR: #000;
  --HERO-COLOR: #fff;
  --NAV-BGCOLOR: #212529;
  --NAV-BGCOLOR2: #000;
  --SECTION-BG: #191919;
  --LINK-ACTIVE: orange;
  --LINK-COLOR: hsla(0, 0%, 90%, 0.7);
  --LINK-HOVER: #fff;
  --BGBUTTON-DARK: #131313;
  --BGFONT-DARK: #fff;
  --BGFONT-LIGHT: #131313;
  --BGBUTTON-LIGHT: #fff;

  --ANI1: red;
  --ANI2: purple;

  /* Padding */
  --PADDING-SIDE: 0 30px;

  /* Borders */
  --SEC-BORDER-RAD: 20px;
}

/* || General */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BGCOLOR-DARK);
  min-height: 100vh;
  padding: var(--PADDING-SIDE);
  overflow-x: hidden;
}

h1 {
  font-size: clamp(1rem, 3vw, 2.5rem);
  line-height: 1.2em;
  max-width: 880px;
  color: var(--FONT-COLOR);
}

h2 {
  font-size: 2.5rem;
  color: var(--FONT-COLOR);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* h3 {
  font-size: 2.5rem;
  width: 100%;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
} */

h4 {
  font-size: 1.3rem;
  color: var(--FONT-COLOR);
  width: 100%;
}

p {
  color: var(--FONT-COLOR);
  font-weight: 500;
}

.section-title {
  text-align: center;
}

.section-title span {
  color: red;
}

.header {
  background-color: var(--HEADER-BGCOLOR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 10vh;
  padding: 10px 0;
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky;
  gap: 10rem;
}

.logo {
  color: var(--FONT-COLOR);
  font-size: 1.5rem;
  font-weight: var(--FW-HEADINGS);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.navbar__links {
  color: var(--LINK-COLOR);
  font-size: 1rem;
  font-weight: var(--FW-TEXT);
  transition: all 0.5s ease;
  position: relative;
}

.navbar__links::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  /* background-color: red; */
  background-color: #ffb742;
  transition: all 0.3s ease;
}

.navbar__links:hover::after,
.navbar__links:focus::after {
  width: 70%;
}

/* Mobile Menu Toggle */
.navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--LINK-COLOR);
  transition: transform 0.3s ease, visibility 0.3s ease;
}

/********************** HERO SECTION ***********************/
.main {
  min-height: 100vh;
}

#hero {
  height: 90vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero-img {
  width: 11rem;
  border: 3px solid #ffb742;
  border-radius: 50%;
}

.hero h4 {
  font-size: 1.7rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 0.5rem;
}

.hero h4 span {
  color: #ffb742;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 8px;
}

.hero-quote {
  font-size: 12px;
  font-style: italic;
}

.hero-quote::before {
  content: "“";
  color: #ffb742;
  font-size: 1rem;
  font-weight: 700;
}

.hero-quote::after {
  content: "”";
  color: #ffb742;
  font-size: 1rem;
  font-weight: 700;
}

.hero-btn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.primary-btn,
.secondary-btn {
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  border: 0.1rem solid #ffd54a;
  cursor: pointer;
}

.primary-btn {
  background-color: transparent;
  color: #ffb742;
  border: 0.1rem solid #ffb742;
}

.primary-btn:hover {
  transition: all 0.5s ease;
  background-color: #ffb742;
  color: #212529;
}

.secondary-btn {
  color: #212529;
  background-color: #ffb742;
}

.secondary-btn:hover {
  background-color: #212529;
  color: #ffb742;
  transition: all 0.5s ease;
}

/********************** ABOUT SECTION ***********************/
#about {
  height: 90vh;
}

.section__title span {
  color: #ffb742;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-img {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.1rem solid transparent;
  border-bottom: 0.1rem solid transparent;
  border-left: 0.1rem solid #ffb742;
  border-right: 0.1rem solid #ffb742;
  animation: aboutSpinner 8s linear infinite;
}

.about__description {
  margin-top: 1rem;
  max-width: 800px;
  text-align: justify;
}

.about__description::before {
  content: "<p>";
  color: #ffb742;
  font-size: 1.2rem;
}

.about__description::after {
  content: "</p>";
  color: #ffb742;
  font-size: 1.2rem;
}

.about__cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  max-width: 800px;
}

.about-cards {
  border: 1px solid hsl(37, 100%, 80%);
  border-radius: 12px;
  text-align: center;
  width: calc((800px - (2 * 30px)) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;
}

.about-cards:hover {
  background-color: #ffb742;
  transition: all 1s ease;
}

.about-cards:hover i {
  color: #fff;
  transition: all 1s ease;
}

.about-cards i {
  font-size: 1.5rem;
  color: #ffb742;
}

.about-cards h4 {
  font-size: 1rem;
}

.about-cards p {
  font-size: 0.7rem;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/********************** SKILLS SECTION ***********************/
#skills {
  margin-top: 5rem;
  height: 100vh;
  /* background-color: yellow; */
  display: none;
}

skills__container {
  display: flex;
}

.skills__detail-container {
  /* display: flex; */
  border: 1px solid #ffb742;
  border-radius: 16px;
  padding: 1rem;
}

.skills__content-container {
}
